.createid{
    height: 100%;
    background: #0e0e0e;
    border: none;
    color: white;
    display: block;
    transition: display 0.5s ease-in-out;
    
}


  .createid h3 {
    text-align: center;
  }

  .createid p {
    text-transform: capitalize;
    padding: 2em;
    text-align: justify;
    margin-top: 5em;
  }

.titler{
    margin-top: 8em;
    text-align: center;
}
.title-bar-text h1{
 font-size: 3.8em;
 margin: 4px;
}
.logo{
    text-align: center;
}
.logo img{
   height: 6em;
}
.signin{
    font-weight: 100;
    margin-top: 9em;
    text-align: center;
}
.error {
    color: red;
    display: none;
}

#form{
    padding-top: 35%;
/* text-align: center; */
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
gap: 1em;
  }
  #sbtn{
    height: 60px;
    background: teal;
    outline: none;
    border-radius: 50%;
    font-size: 1.9em;
    padding-bottom: 5px;
    color: white;
    border: 1px solid #2c2c2c;
    width: 60px;
  }
#userId{
    padding: 6px;
    outline: none;
    border: none;
    border-bottom: 1px solid teal;
    background: #0e0e0e;
    color: white;
    font-size: 20px;
}

#errorMsg{
   
    background: #212121;
    border-radius: 6px;
    width: 312px;
    z-index: 99;
    padding: 0.4em;
    border: 1px solid #5c5c5c;
    position: absolute;
    bottom: 11em;
}
